[Unit]
Description=nomad agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=nomad
EnvironmentFile=-/etc/sysconfig/nomad
Restart=on-failure
ExecStart=/usr/local/sbin/nomad agent $OPTIONS -config=/etc/nomad.d/server.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
